<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container " id="divBase">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default ">
                <div class="container">
                    <div class="navbar-navbar-default">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <div class="panel-heading">
                            <h4>Jobby Search</h4>
                        </div>
                    <form name="search" method="post" action="{{ path('search') }}">
                        <input type="radio" name="domainRadio"> Domain </input>
                        <select name="domain">
                            <option value="IT">IT</option>
                            <option value="HR">HR</option>
                        </select>
                        <br>

                        <input type="radio" name="rangeRadio"> Hiring Range </input>
                            <input type="number" name="minR" placeholder="min"/>
                            <input type="number" name="maxR" placeholder="max"/>
                        <br>

                        <input type="radio" name="expRadio"> Job Experience (Years) </input>
                        <input type="number" name="minE" placeholder="min"/>
                        <input type="number" name="maxE" placeholder="max"/>
                        <br>

                        <input type="radio" name="otherRadio"> Other </input>
                        <select name="other">
                            <option value="more5">More than 5 candidates</option>
                            <option value="more2less5">Less than 5 experience entries, but more than 2</option>
                            <option value="noexp">No experience required </option>
                            <option value="rej">Rejected</option>
                        </select>
                        <br>
                        <br>

                        <button type="submit" class="btn  center-block"> Submit</button>
                        <br>
                        <br>
                    </form>
                    </div>
                </div>
            </nav>
            <div id="divBlockBody">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>