<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body  >
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
<div id="divLogin">
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div height="100" width="100">
        </div>
        <div class="container">
            <img src="{{ asset('bundles/app/images/jobby.png') }}" class="img-responsive center-block" />
            <br><br><br>
            <form method="post" align="center">
                <div class="row col-md-4 col-md-offset-4">
                    <input type="text" id="username" placeholder="username"
                           required="required"
                           class="form-control no-border ">
                    <br>
                    <input type="password" id="password"  required="required" placeholder="password"
                           class="form-control no-border">
                    <br/><br/><br/>
                    <button type="submit" class="btn btn-lg btn-primary m-r"> Submit</button>
                </div>
                <div class="line line-dashed"></div>
            </form>
        </div>
    </section>
</div>
{% endblock %}